.friends__section .friends__section-header {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding: 8px 15px;

} 

.friends__section-profile .frineds__section-profiles {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  font-size : 12pt;
}

.frineds__section-profiles img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px; 
}

.serach-bar {
  padding: 10px 25px;
  width: 100%;
}

.serach-bar input {
  margin-left: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  background-color: #f1f2f3;
  font-size: 12pt;
  text-align: center;
}

.friend__info {
  margin: 12px;
  display: flex;
  justify-content: center;
  color : white;
  background-color:#9e9e9e;
}

.freind__info-title {
  margin-top: 5px;
}

.friends__section-message {
  float: right;
  background-color: rgb(165, 206, 243);

}